
.atools{
    color: #023047;
    font-weight: 700;
    line-height: 6px;
    margin-right: auto;
}
.bluish-color{
    background-color: #023047;
}
.checkbox-login:checked {
    background-color: #023047 ;
    border-color: #023047 ;
}
.forgot-pass{
    text-decoration: none;
    color: black;
}
.login-title{
    font-weight: 700;
    color: black;
    letter-spacing: 150%;
}
.login-form{
    margin-right: auto;

}

.login-btn:hover{
    color: black !important;
    background-color: blueviolet;
}

.login-btn:active{
    color: black !important;
    background-color: blueviolet;
}

@media only screen and (max-width: 900px) {
    .disappear {
      display: none;
    }
  }